html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

main {
    --home-button-height: 30px;
}

.main {
	margin-left: 160px;
}

#title {
    padding: 20px;
    margin-top: 0px;
    background-color: #B0C4DE;
}

.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 16px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav a.active {
	color: white;
}

.page {
	padding-left: 20px;
}

li {
	padding-bottom: 30px;
	padding-left: 20px;
	font-size: 17px;
}

.view-btn {
	padding-left: 20px;
	padding-top: 5px;
}

.back-btn {
	margin-left: 20px;
	margin-bottom: 20px;
}

.table {
	padding-left: 20px;
}

.row
{
    display: table;
    padding-bottom: 20px;
}

.column
{
    display: table-cell;
   	padding-left: 20px;
   	padding-right: 20px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

input {
	margin: 5px;
}

#submit-btn {
	margin-left: 0px;
}